genero literario.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Lanzamientos">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="titulo" type="xs:string"/>
      <xs:element name="autor" type="xs:string"/>
      <xs:element name="Publicación" type="xs:string"/>
      <xs:element name="Idioma" type="xs:string"/>
        
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:sequence>

<xs:atribute:name="tipo"type"xs:string"use="required"
                  
  </xs:complexType>
 </xs:element>
</xs:schema>
